.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.map-container {
  flex: 1;
  margin: 30px;
}

button {
  margin: 5px;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
}

#map {
  height: 100%;
}
